In [1]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd

In [2]:

# Load the datasets
train_df = pd.read_csv("train_users.csv")
test_df = pd.read_csv("test_users.csv")
edu_df = pd.read_csv("education.csv")
skills_df = pd.read_csv("skills.csv")
lang_df = pd.read_csv("languages.csv")
workexp_df = pd.read_csv("work_experiences.csv")

In [3]:

# Merge the datasets
train = pd.merge(train_df, edu_df, on='user_id', how='left')
train = pd.merge(train, skills_df, on='user_id', how='left')
train = pd.merge(train, lang_df, on='user_id', how='left')
train = pd.merge(train, workexp_df, on='user_id', how='left')

test = pd.merge(test_df, edu_df, on='user_id', how='left')
test = pd.merge(test, skills_df, on='user_id', how='left')
test = pd.merge(test, lang_df, on='user_id', how='left')
test = pd.merge(test, workexp_df, on='user_id', how='left')

In [10]:
train

,user_id,industry,location_x,moved_after_2019,school_name,degree,fields_of_study,start_year_month_x,end_year_month,skill,language,proficiency,company_id,location_y,start_year_month_y
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,Bahçeşehir Üniversitesi,Bachelor's degree,Software Engineering,NaN,NaN,Business Strategy,Turkish,native_or_bilingual,1875.0,"Izmir, Turkey",201510.0
1,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,Bahçeşehir Üniversitesi,Bachelor's degree,Software Engineering,NaN,NaN,Business Strategy,Turkish,native_or_bilingual,1876.0,"Izmir, Turkey",201505.0
2,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,Bahçeşehir Üniversitesi,Bachelor's degree,Software Engineering,NaN,NaN,Business Strategy,Turkish,native_or_bilingual,26.0,NaN,201803.0
3,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,Bahçeşehir Üniversitesi,Bachelor's degree,Software Engineering,NaN,NaN,Business Strategy,Turkish,native_or_bilingual,1343.0,NaN,201911.0
4,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,Bahçeşehir Üniversitesi,Bachelor's degree,Software Engineering,NaN,NaN,Business Strategy,English,professional_working,1875.0,"Izmir, Turkey",201510.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18343158,248,Information Technology and Services,"Istanbul, Turkey",0,Hakkari Mesleki ve Teknik Anadolu Lisesi,Lise,Bilişim,NaN,NaN,HTML,İngilizce,elementary,NaN,NaN,NaN
18343159,248,Information Technology and Services,"Istanbul, Turkey",0,Hakkari Mesleki ve Teknik Anadolu Lisesi,Lise,Bilişim,NaN,NaN,Nuxt Js,Türkçe,native_or_bilingual,NaN,NaN,NaN
18343160,248,Information Technology and Services,"Istanbul, Turkey",0,Hakkari Mesleki ve Teknik Anadolu Lisesi,Lise,Bilişim,NaN,NaN,Nuxt Js,İngilizce,elementary,NaN,NaN,NaN
18343161,248,Information Technology and Services,"Istanbul, Turkey",0,Hakkari Mesleki ve Teknik Anadolu Lisesi,Lise,Bilişim,NaN,NaN,VueJS,Türkçe,native_or_bilingual,NaN,NaN,NaN
18343162,248,Information Technology and Services,"Istanbul, Turkey",0,Hakkari Mesleki ve Teknik Anadolu Lisesi,Lise,Bilişim,NaN,NaN,VueJS,İngilizce,elementary,NaN,NaN,NaN

In [ ]:
proficiency_counts = lang_df['proficiency'].value_counts().head(50)
print(proficiency_counts)

In [4]:
lang_df['language'] = lang_df['language'].str.lower()

In [ ]:
replace_list_lang_1 = ['İngilizce', 'english','i̇ngilizce', 'i̇ngi̇li̇zce']

# Replace the values in the 'degree' column that contain the strings in the replace_list
lang_df['language'] = lang_df['language'].replace('|'.join(replace_list_lang_1), 'english', regex=True)

In [ ]:
replace_list_lang_2 = ['türkçe', 'turkish', 'turk', 'türkçe', 'turkish', 'türkisch']

# Replace the values in the 'degree' column that contain the strings in the replace_list
lang_df['language'] = lang_df['language'].replace('|'.join(replace_list_lang_2), 'turkish', regex=True)

In [ ]:
mask = lang_df['language'].str.contains('spañ')

lang_df.loc[mask, 'language'] = 'spanish'

mask = lang_df['language'].str.contains('fren')

lang_df.loc[mask, 'language'] = 'french'

mask = lang_df['language'].str.contains('span', 'spañ')

lang_df.loc[mask, 'language'] = 'spanish'

mask = lang_df['language'].str.contains('almanca', 'german')

lang_df.loc[mask, 'language'] = 'german'

mask = lang_df['language'].str.contains('almanca', 'german')

lang_df.loc[mask, 'language'] = 'german'

mask = lang_df['language'].str.contains('ingi', 'english')

lang_df.loc[mask, 'language'] = 'english'

mask = lang_df['language'].str.contains('english')

lang_df.loc[mask, 'language'] = 'english'
mask = lang_df['language'].str.contains('turkish')

lang_df.loc[mask, 'language'] = 'turkish'
mask = lang_df['language'].str.contains('ital')

lang_df.loc[mask, 'language'] = 'ıtalian '
mask = lang_df['language'].str.contains('rus')

lang_df.loc[mask, 'language'] = 'russian'
mask = lang_df['language'].str.contains('arap', 'arab')

lang_df.loc[mask, 'language'] = 'arabic '

In [ ]:

replace_list_lang_3 = ['fren', 'fran', 'frenchch']

# Replace the values in the 'degree' column that contain the strings in the replace_list
lang_df['language'] = lang_df['language'].replace('|'.join(replace_list_lang_3), 'french', regex=True)

In [ ]:

replace_list_lang_4 = ['almanca', 'german', 'dutch', 'deutsch', 'germany']

# Replace the values in the 'degree' column that contain the strings in the replace_list
lang_df['language'] = lang_df['language'].replace('|'.join(replace_list_lang_4), 'german', regex=True)

In [ ]:
language_counts = lang_df['language'].value_counts().head(60)
print(language_counts)

In [6]:
lang_rank = {lang: rank for rank, lang in enumerate(['elementary', 'limited_working', 'professional_working', 'full_professional', 'native_or_bilingual'], 1)}

lang_df['proficiency'] = lang_df['proficiency'].map(lang_rank)

In [7]:
import re

lang_conv = {
    'english': ['ingilizce', 'english', 'englishch', 'englisch'],
    'german': ['almanca', 'german', 'deutsch'],
    'french': ['fransızca', 'french', 'français'],
    'spanish': ['ispanyolca', 'spanish', 'español'],
    'arabic': ['arapça', 'arabic'],
    'russian': ['rusça', 'russian'],
    'turkish': ['türkçe', 'turkish', 'türkisch']
}

lang_df['language'] = lang_df['language'].apply(lambda x: next((k for k, v in lang_conv.items() if re.match(f'(?i)({"|".join(v)})', x)), x))
lang_df = lang_df[lang_df['language'].isin(lang_conv.keys())]

In [8]:
lang_df = lang_df.drop_duplicates(['user_id', 'language'])
lang_df = pd.pivot(lang_df, index='user_id', columns='language', values='proficiency')
lang_df = lang_df.fillna(0).astype(int)
lang_df.head()

language  arabic  english  french  german  russian  spanish  turkish
user_id
8              0        0       1       0        0        0        5
10             0        0       0       0        0        0        0
11             0        3       0       0        0        0        5
12             0        3       0       0        0        0        5
13             0        0       0       2        0        0        0